<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="resources/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="resources/script.js"></script>
    <title>Home - AR Navigator</title>

</head>
<body>
    <ul class="navigation">
        <li><a href="/">HOME</a></li>
        <li><a href="/about">ABOUT US</a></li>
    </ul>

    <div class="main-container">
        <h1 id="title">AR Navigator</h1>
        <p id="subtitle">Where you are a click away from arriving to your destination.</p>
        <div class="button-container">
            <a id="try-it-button">Try It</a>
        </div>
    </div>

    <div class="features-container">
        <img src="resources/gauge.jpg" class="feature-image">
        <div class="feature-column" style="padding-left: 100px;">
            <h2 class="feature-heading">Feature 1</h2>
            <p class="feature-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu sem purus. Vivamus nec porta ipsum, eu cursus felis. Morbi pretium maximus ligula blandit mollis. Vivamus congue quam sed diam mollis, sit amet varius felis efficitur. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed enim lacus, euismod in volutpat non, tempor vitae ipsum. Nulla eget egestas erat.
            </p>
        </div>
    </div>

    <div class="features-container" style="background-color: white;">
        <div class="feature-column" style="padding-right: 100px;">
            <h2 class="feature-heading">Feature 2</h2>
            <p class="feature-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu sem purus. Vivamus nec porta ipsum, eu cursus felis. Morbi pretium maximus ligula blandit mollis. Vivamus congue quam sed diam mollis, sit amet varius felis efficitur. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed enim lacus, euismod in volutpat non, tempor vitae ipsum. Nulla eget egestas erat.
            </p>
        </div>
        <img src="resources/gauge.jpg" class="feature-image">
    </div>

    <div class="features-container">
        <img src="resources/gauge.jpg" class="feature-image">
        <div class="feature-column" style="padding-left: 100px;">
            <h2 class="feature-heading">Feature 3</h2>
            <p class="feature-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu sem purus. Vivamus nec porta ipsum, eu cursus felis. Morbi pretium maximus ligula blandit mollis. Vivamus congue quam sed diam mollis, sit amet varius felis efficitur. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed enim lacus, euismod in volutpat non, tempor vitae ipsum. Nulla eget egestas erat.
            </p>
        </div>
    </div>

    <div class="footer-container">
        <p>Footer info</p>
    </div>

</body>
</html>
